---
import { getAssetUrl } from '../config';
---
<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href={getAssetUrl('/')}>Home</a></li>
    <li class="nav-leons" role="menuitem"><a href="https://leons.dev" target="_blank" rel="noopener">leons.dev</a></li>
</ul>
